<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		input.ng-invalid{
			background-color: red;
		}
	</style>
	<script type="text/javascript" src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
	<!-- <h2>model,双向绑定</h2>
	<div ng-app="myApp" ng-controller="myCon">
		姓名:<input ng-model="name">
		<p>你输入了:{{name}}</p>
	</div>
	
	<script type="text/javascript">
		var app=angular.module("myApp",[]);
		app.controller("myCon",function($scope){
			$scope.name="qigang";
		});
	</script> -->

	<hr>
	<!-- <h2>验证用户输入</h2>
	<form name="myForm" ng-app="" ng-init="myText='test@test.com'">
		Email:<input type="Email" name="myAddress" ng-model="myText" required>
		<h1>状态</h1>
		{{myForm.myAddress.$valid}}
		{{myForm.myAddress.$dirty}}
		{{myForm.myAddress.$touched}}
	</form> -->

	<hr>

	<!-- <h2>Scope</h2>
	<div ng-app="myApp" ng-controller="myCon">
		<ul>
			<li ng-repeat="x in names">{{x}}</li>
		</ul>
		姓:<input ng-model="firstName"><br>
		名:<input ng-model="lastName"><br>
		姓名:{{fullName()}}
	</div>


	<script>
		var app=angular.module('myApp', []);
		app.controller('myCon',function($scope){
			$scope.names=["zhangsan","lisi","wangwu"];
			$scope.firstName="qigang";
			$scope.lastName="zhong";
			$scope.fullName=function(){
				return $scope.firstName+" "+$scope.lastName;
			};
		});
	</script> -->

	<hr>

	<!-- <h2>多个控制器</h2>
	<div ng-app="myApp">
		<div ng-controller="c1">
			{{param1}}
		</div>
		<div ng-controller="c2">
			{{param2}}
		</div>
	</div>
	<script>
		var app=angular.module("myApp",[]);
		app.controller("c1",function($scope){
			$scope.param1="this is param1";
		});
		app.controller("c2",function($scope){
			$scope.param2="this is param2";
		});
	</script> -->

	<hr>

	<h2>过滤器</h2>
	<div ng-app="myApp" ng-controller="testCon">
		<input type="text" ng-model="test"><br>
		<ul>
			<li ng-repeat="x in names|filter:test|orderBy:'lastName'">
				{{(x.firstName|uppercase) + '-'+x.lastName}}
			</li>
		</ul>
	</div>
	<script>
		var app=angular.module("myApp",[]);
		app.controller("testCon",function($scope){
			$scope.names=[
				{firstName:"san",lastName:"zhang"},
				{firstName:"si",lastName:"li"},
				{firstName:"wu",lastName:"wang"},
				{firstName:"wu",lastName:"zhang"}
			];
		});
	</script>
</body>
</html>